In [2]:
import pandas as pd
df = pd.read_json('../dados.json')
df.head()

,ID,NOME,TELEMOVEL,MORADA,CARTAO DE CIDADAO,DATA DE NASCIMENTO,NIVEL,LIMITACOES
0,1,Ricardo,926724965,Rua Quinta do Mirante nº2 3ºesq,17223712,19/2/1992,BÁSICO,nenhumas
1,2,Bruno,917281921,rua franciso,91821212,3/3/1999,MÉDIO,nenhumas