In [1]:
import pandas as pd
df = pd.read_json('../dados.json')
df.head()

,NOME,TELEMOVEL,MORADA,CARTAO DE CIDADAO,DATA DE NASCIMENTO,NIVEL,LIMITACOES,ID
0,Pedro,111111111,Rua,12121212,1/1/2001,BÁSICO,nenhumas,1
1,Tomás,121232121,praça,12198234,2/2/2002,BÁSICO,nenhumas,2
2,Weslay,128192012,quinta,10293823,1/1/2001,AVANÇADO,nenhumas,3
3,Rute,129182911,w,12345678,7/1/1999,MÉDIO,nenhumas,4
4,Mauro,102938476,Esquina,12349823,20/4/2004,BÁSICO,dores no ombro,5